<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success text-center">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger text-center">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- 従業員一覧 -->
  <h2 class="m-4 text-center font-weight-bold text-primary">従業員一覧</h2>

  <div class="table-responsive mb-5">
    <table class="table table-bordered table-hover text-center" style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <thead class="bg-primary text-white">
        <tr>
          <th scope="col">画像</th>
          <th scope="col">名前</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">役職</th>
          <th scope="col">出勤簿</th>
          <th scope="col">時給</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(50, 50), class: "border rounded-circle shadow-sm" %>
            </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><span class="badge <%= user.administrator? ? 'badge-danger' : 'badge-secondary' %>"><%= user.administrator? ? '管理者' : '一般ユーザー' %></span></td>
            <td>
              <%= link_to '出勤簿', administrator_user_attendances_path(user), class: 'btn btn-info btn-sm text-white' %>
            </td>
            <td class="text-primary font-weight-bold"><%= number_to_currency(user.hourly_wage, unit: '¥', precision: 0) %></td>
            <td>
              <%= link_to '編集', edit_administrator_user_path(user), class: 'btn btn-primary btn-sm', style: "background-color: #2864F0; border-color: #2864F0;" %>
            </td>
            <td>
              <%= link_to '削除', administrator_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>