<div class="container">
  <h2 class="m-4 text-center font-weight-bold" style="color: #2864F0;">新規作成</h2>

  <%= form_with(model: @user, url: administrator_users_path, method: :post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, '氏名' %>
      <%= f.text_field :name, class: 'form-control' %>
      <% if @user.errors[:name].any? %>
        <div class="text-danger"><%= @user.errors[:name].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if @user.errors[:email].any? %>
        <div class="text-danger"><%= @user.errors[:email].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :hourly_wage, '時給（円）' %>
      <%= f.number_field :hourly_wage, class: 'form-control' %>
      <% if @user.errors[:hourly_wage].any? %>
        <div class="text-danger"><%= @user.errors[:hourly_wage].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <div class="form-check">
        <%= f.check_box :administrator, class: 'form-check-input' %>
        <%= f.label :administrator, '管理者権限', class: 'form-check-label' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit '作成', class: 'btn btn-primary w-100', style: "background-color: #2864F0; border-color: #2864F0;" %>
    </div>
  <% end %>
</div>
