<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success text-center mb-4 p-3">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger text-center mb-4 p-3">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <h2 class="m-4 text-center font-weight-bold" style="color: #2864F0;">全従業員の月間給与集計</h2>

  <div class="alert alert-info text-center mb-4 p-4 shadow-sm bg-light" style="border-radius: 8px; border-color: #2864F0;">
    <h4 class="mb-2 text-primary fw-bold">
      <i class="fas fa-wallet"></i> 全従業員の合計給与
    </h4>
    <h4 class="display-5 text-primary fw-bold">
      <%= number_to_currency(@total_monthly_salary, unit: "¥", precision: 0) %>
    </h4>

    <hr class="my-3" style="border-top: 2px solid #2864F0; opacity: 0.5; width: 60%; margin: auto;">

    <h4 class="mt-3 mb-2 text-primary fw-bold">
      <i class="fas fa-clock"></i> 全従業員の合計勤務時間
    </h4>
    <h4 class="display-5 text-primary fw-bold">
      <%= "#{@total_work_hours}時間 #{@total_work_minutes}分" %>
    </h4>
  </div>


  <!-- 月選択フォーム -->
  <%= form_with url: summary_administrator_user_attendances_path, method: :get, local: true do |f| %>
    <div class="form-group row justify-content-center mb-4">
      <label class="col-3 col-form-label text-center" for="year_month" style="font-size: 1.1em; color: #2864F0;">確認したい勤怠月</label>
      <div class="col-4">
        <%= f.month_field :year_month, value: params[:year_month], class: "form-control", placeholder: "YYYY-MM" %>
      </div>
      <div class="col-2">
        <%= submit_tag "検索", class: "btn btn-primary btn-block", style: "background-color: #2864F0; border-color: #2864F0;" %>
      </div>
    </div>
  <% end %>

  <!-- 従業員ごとの給与と勤務時間 -->
  <h3 class="mt-5 text-primary">従業員ごとの給与と勤務時間</h3>
  <div class="table-responsive mt-4 mb-5"">
    <table class="table table-bordered table-hover text-center" style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <thead class="bg-primary text-white">
        <tr>
          <th scope="col">名前</th>
          <th scope="col">合計給与</th>
          <th scope="col">勤務時間</th>
          <th scope="col">時給</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @monthly_salary_per_user.each do |data| %>
          <tr>
            <td><%= data[:user].name %></td>
            <td class="text-primary font-weight-bold"><%= number_to_currency(data[:total_salary], unit: "¥", precision: 0) %></td>
            <td><%= "#{data[:total_work_hours]} 時間 #{data[:total_work_minutes]} 分" %></td>
            <td><%= number_to_currency(data[:user].hourly_wage, unit: "¥", precision: 0) %></td>
            <td>
              <%= link_to '出勤簿を確認', administrator_user_attendances_path(data[:user]), class: 'btn btn-primary', style: "background-color: #2864F0; border-color: #2864F0;" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
