<div class="container mt-5">
  <h2 class="m-4 text-center font-weight-bold" style="color: #2864F0;">位置情報の編集</h2>

  <%= form_with model: @location_setting, local: true do |f| %>
    <div class="form-group">
      <%= f.label :office_name, "拠点名" %>
      <%= f.text_field :office_name, class: "form-control" %>
      <% if @location_setting.errors[:office_name].any? %>
        <div class="text-danger"><%= @location_setting.errors[:office_name].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :latitude, "緯度" %>
      <%= f.text_field :latitude, class: "form-control" %>
      <% if @location_setting.errors[:latitude].any? %>
        <div class="text-danger"><%= @location_setting.errors[:latitude].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :longitude, "経度" %>
      <%= f.text_field :longitude, class: "form-control" %>
      <% if @location_setting.errors[:longitude].any? %>
        <div class="text-danger"><%= @location_setting.errors[:longitude].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :radius, "拠点からの距離 (m)" %>
      <%= f.number_field :radius, class: "form-control", step: 100 %>
      <% if @location_setting.errors[:radius].any? %>
        <div class="text-danger"><%= @location_setting.errors[:radius].first %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :use_location_check, "位置情報チェックを有効にする" %>
      <%= f.check_box :use_location_check %>
      <% if @location_setting.errors[:use_location_check].any? %>
        <div class="text-danger"><%= @location_setting.errors[:use_location_check].first %></div>
      <% end %>
    </div>

    <%= f.submit "更新", class: "btn btn-primary w-100" %>
  <% end %>

  <%= link_to '戻る', location_settings_path, class: "btn btn-secondary w-100 mt-4" %>
</div>
