<h2 class="m-4 text-center font-weight-bold" style="color: #2864F0;"><%= current_user.name %> さん</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4 p-3 bg-white rounded shadow" id='myClock'></h1>
    </div>
  </div>

  <% if flash[:notice] %>
    <div class="alert alert-success text-center">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger text-center">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div id="message" class="text-center text-success font-weight-bold"></div>

  <!-- 勤怠ボタン -->
  <div class="row justify-content-center mt-3">
    <div class="col-md-8">
      <div class="d-flex flex-column gap-3">
        <!-- 出勤ボタン -->
        <% if @attendance_record.attendance_time.nil? && @attendance_record.leave_time.nil? %>
          <%= form_with model: @attendance, class: "text-center" do |f| %>
            <%= f.hidden_field :attendance_time, value: Time.zone.now.strftime("%Y-%m-%dT%H:%M") %>
            <%= f.submit '出勤', id: "attendanceButton", class: 'btn btn-lg btn-primary shadow-sm w-100 ' %>
          <% end %>
        <% end %>

        <!-- 休憩開始ボタン -->
        <% if @attendance_record.attendance_time.present? && @attendance_record.break_start_time.nil? && @attendance_record.leave_time.nil? %>
          <%= form_with model: @attendance_record, url: attendance_path(@attendance_record), method: :patch, class: "text-center" do |f| %>
            <%= f.hidden_field :break_start_time, value: Time.zone.now.strftime("%Y-%m-%dT%H:%M") %>
            <%= f.submit '休憩開始', id: "breakStartButton", class: 'btn btn-lg btn-warning shadow-sm w-100 mb-4' %>
          <% end %>
        <% end %>

        <!-- 休憩終了ボタン -->
        <% if @attendance_record.break_start_time.present? && @attendance_record.break_end_time.nil? && @attendance_record.leave_time.nil? %>
          <%= form_with model: @attendance_record, url: attendance_path(@attendance_record), method: :patch, class: "text-center" do |f| %>
            <%= f.hidden_field :break_end_time, value: Time.zone.now.strftime("%Y-%m-%dT%H:%M") %>
            <%= f.submit '休憩終了', id: "breakEndButton", class: 'btn btn-lg btn-info shadow-sm w-100' %>
          <% end %>
        <% end %>

        <!-- 退勤ボタン -->
        <% if @attendance_record.attendance_time.present? && @attendance_record.break_end_time.present? && @attendance_record.leave_time.nil? || @attendance_record.attendance_time.present? && @attendance_record.break_start_time.nil?  && @attendance_record.leave_time.nil? %>
          <%= form_with model: @attendance_record, url: attendance_path(@attendance_record), method: :patch, class: "text-center" do |f| %>
            <%= f.hidden_field :leave_time, value: Time.zone.now.strftime("%Y-%m-%dT%H:%M") %>
            <%= f.submit '退勤', id: "leaveButton", class: 'btn btn-lg btn-secondary shadow-sm w-100' %>
          <% end %>
        <% end %>

        <!-- 退勤済みの場合、ボタンを表示せずメッセージを表示 -->
        <% if @attendance_record.leave_time.present? %>
          <div class="alert alert-info text-center w-100">
            本日は退勤済みです。お疲れ様でした！
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


<script>
  function updateClock() {
    var now = new Date();
    var hour = now.getHours().toString().padStart(2, '0');
    var minute = now.getMinutes().toString().padStart(2, '0');
    var second = now.getSeconds().toString().padStart(2, '0');
    document.getElementById('myClock').innerHTML = hour + ":" + minute + ":" + second;
  }
  setInterval(updateClock, 1000);
  updateClock();

  function getDistance(lat1, lon1, lat2, lon2) {
    const R = 6371000;
    const φ1 = lat1 * Math.PI / 180;
    const φ2 = lat2 * Math.PI / 180;
    const Δφ = (lat2 - lat1) * Math.PI / 180;
    const Δλ = (lon2 - lon1) * Math.PI / 180;

    const a = Math.sin(Δφ / 2) * Math.sin(Δφ / 2) + Math.cos(φ1) * Math.cos(φ2) * Math.sin(Δλ / 2) * Math.sin(Δλ / 2);
    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
    const distance = R * c;
    return distance;
  }

  function checkLocation() {
    const officeLat = 34.723985;
    const officeLon = 135.492479;

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        const userLat = position.coords.latitude;
        const userLon = position.coords.longitude;

        const distance = getDistance(userLat, userLon, officeLat, officeLon);

        if (distance > 2000) {
          disableAllButtons();
          document.getElementById("message").innerHTML = "お店から2000m以内でなければ登録できません。";
          document.getElementById("message").classList.remove("text-success");
          document.getElementById("message").classList.add("text-danger");
        } else {
          enableAllButtons();
          document.getElementById("message").innerHTML = "お店の範囲内です。登録可能";
          document.getElementById("message").classList.remove("text-danger");
          document.getElementById("message").classList.add("text-success");
        }
      }, function(error) {
        console.log(error);
        disableAllButtons();
        document.getElementById("message").innerHTML = "位置情報の取得に失敗しました。位置情報を許可してください。";
        document.getElementById("message").classList.remove("text-success");
        document.getElementById("message").classList.add("text-danger");
      }, { enableHighAccuracy: true });
    } else {
      console.log("位置情報の取得がサポートされていません");
      disableAllButtons();
      document.getElementById("message").innerHTML = "位置情報がサポートされていません。オーナーに連絡してください。";
      document.getElementById("message").classList.remove("text-success");
      document.getElementById("message").classList.add("text-danger");
    }
  }

  function disableAllButtons() {
    // 出勤ボタン
    const attendanceButton = document.getElementById("attendanceButton");
    if (attendanceButton) attendanceButton.disabled = true;

    // 休憩開始ボタン
    const breakStartButton = document.getElementById("breakStartButton");
    if (breakStartButton) breakStartButton.disabled = true;

    // 休憩終了ボタン
    const breakEndButton = document.getElementById("breakEndButton");
    if (breakEndButton) breakEndButton.disabled = true;

    // 退勤ボタン
    const leaveButton = document.getElementById("leaveButton");
    if (leaveButton) leaveButton.disabled = true;
  }

  function enableAllButtons() {
    // 出勤ボタン
    const attendanceButton = document.getElementById("attendanceButton");
    if (attendanceButton) attendanceButton.disabled = false;

    // 休憩開始ボタン
    const breakStartButton = document.getElementById("breakStartButton");
    if (breakStartButton) breakStartButton.disabled = false;

    // 休憩終了ボタン
    const breakEndButton = document.getElementById("breakEndButton");
    if (breakEndButton) breakEndButton.disabled = false;

    // 退勤ボタン
    const leaveButton = document.getElementById("leaveButton");
    if (leaveButton) leaveButton.disabled = false;
  }

  
</script>
